body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Montserrat" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    "Montserrat" monospace;
}

#root {
  height: 100vh;
}

.MuiStack-root {
  padding: 0 !important;
}

.MuiBox-root {
  width: 100%;
}

.MuiAutocomplete-hasPopupIcon.css-1qqsdnr-MuiAutocomplete-root
  .MuiOutlinedInput-root,
.MuiAutocomplete-hasClearIcon.css-1qqsdnr-MuiAutocomplete-root
  .MuiOutlinedInput-root {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

#main-search-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: none;
  width: 140px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

a {
  text-decoration: none;
}

.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  position: static !important;
}

.apartment-gallery .image-gallery-slide img {
  object-fit: cover;
}

.MuiToggleButtonGroup-grouped {
  width: 2.3rem;
}

.filepond--panel-root {
  border: 3px solid #c5d7ee !important;
  background-color: #e1f1fb !important;
}

.filepond--drop-label {
  height: 200px !important;
  background-image: url('../../client/public/uploadImageCover.svg');
  background-repeat: no-repeat;
  background-position: center 30px;
  cursor: pointer;
  padding-top: 70px;
}

.filepond--browser {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
