#register-wrapper {
  border: 1px solid #0859aa;
  height: 740px;
  width: 460px;
  background-color: white;
  border-radius: 5px;
  z-index: 10px;
  margin-bottom: 12px;
}

.error {
  color: rgb(200, 14, 14);
  padding: 0;
  margin: 0;
  height: 26px;
}

.hide {
  display: none;
}
